<!DOCTYPE html>
<html lang="{{ or .Site.LanguageCode .Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
    <title>{{ with .Title }}{{ printf "%s | " . }}{{ end }}{{ site.Title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    {{ $style := resources.Get "css/style.css" }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
  </head>
  <body class="flex flex-row justify-between relative bg-primary
    text-regular">

    <!-- since two sidebars used 'fixed' instead of 'absolute' -->
    <!-- 'absolute inset-y-0 left-0' together with 'transform
      -translate-x-full' to make it offcanvas sidebar, in other words
      by default the sidebar is outside of the canvas -->
    <!-- 'transition duration-300 ease-in-out' for the animation when burger toggled -->
    <!-- 'xl:relative absolute' to make it behave like a slidebar that
      moves main content on desktop. And on mobile like a pop up
      navigation-->

    <aside id="sidebar" class="xl:relative xl:block hidden fixed md:inset-y-0 md:left-0
    transform xl:translate-x-0 -translate-x-full transition duration-300 ease-in-out
      2xl:w-[25rem] xl:w-[20rem] h-full flex flex-col bg-secondary">
      {{ partial "sidebar.html" . }}
    </aside>
    <!-- FIXME on mobile phones touching the btn has a blue trigger animation, rm that (only chroome, firefox does not)-->
    <aside id="sidebarMobile" class="xl:hidden fixed inset-y-0 left-0
      w-[18.5rem] transform -translate-x-full transition duration-300
      ease-in-out flex flex-col bg-secondary">
      {{ partial "sidebarMobile.html" . }}
    </aside>

    <!-- FIXME on mobile phones the right margin is not the same as the right -->
    <!-- content -->
    <section class="grow 2xl:mx-[7rem] xl:mx-[4.5rem] md:mx-[3.5rem] mx-[1.75rem]">
      {{ partial "header.html" . }}
      {{ block "main" . }}{{ end }}
      <p class="">Bottom of baseof</p>
      <hr>
    </section>

    {{ $js := resources.Get "js/main.js" }}
    <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
  </body>
</html>
