<!DOCTYPE html>
<html lang="{{ or .Site.LanguageCode .Site.Language.Lang }}">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
    <title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
    {{ $favicon := resources.Get "img/favicon.ico" }}
    <link rel="icon" href="{{ $favicon.RelPermalink }}" /><!-- favicon -->
    {{ $style := resources.Get "css/style.css" }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" /><!-- tailwind -->
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet"><!-- pagefind -->
  </head>
  <body class="flex justify-content relative bg-primary text-regular">
    <!-- 'absolute inset-y-0 left-0' together with 'transform
      -translate-x-full' to make it offcanvas sidebar, in other words
      by default the sidebar is outside of the canvas -->
    <!-- 'transition duration-300 ease-in-out' for the animation when burger toggled -->
    <!-- 'xl:absolute fixed' to make it behave like a slidebar that
      moves main content on desktop. And on mobile like a pop up navigation
    'xl-sticky' because otherwise the desktop sidebar is empty if you
    scroll main content. xl:h-screen to fix scrollable desktop sidebar-->

    <!-- sidebar -->
    <aside id="sidebar" class="xl:absolute xl:sticky fixed inset-y-0 left-0
    transform xl:translate-x-0 -translate-x-full transition duration-300 ease-in-out
      2xl:w-[25rem] xl:w-[20rem] w-[20rem] flex flex-col bg-secondary
      z-10 xl:h-screen">
      {{ partial "sidebar.html" . }}
    </aside>
    <!-- FIXME on mobile phones touching the btn has a blue trigger animation, rm that (only chrome, firefox does not)

    <!-- content -->
    <div class="grow 2xl:mx-[7rem] xl:mx-[4.5rem] md:mx-[3.5rem] mx-[1.75rem]">
      {{ partial "header.html" . }}
      {{ block "main" . }}{{ end }}
    </div>
    {{ $js := resources.Get "js/main.js" }}
    <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
  </body>
</html>
