@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* default light theme: */
  :root,
  .theme-light {
    /* use rgb because opacity with alpha channel can be easily added with r g b / a */
    /* colors mostly used with text/border */
    --color-text-regular: 61 68 73; /*mild black*/
    --color-text-white: 255 255 255; /*white*/
    --color-text-muted: 127 136 143; /*gray */
    /*--color-text-inverted: 245 106 106; /*light red*/
    --color-text-inverted: 251 73 52; /*gruvbox light red(not sure if this or original light theme red)*/
    /*--color-text-inverted: 98 212 229; /*light blue*/
    /*--color-text-inverted: 50 205 50; /*light green*/
    --color-text-accent: var(--color-text-inverted);
    /* colors mostly used with bg to fill */
    --color-bg-primary: 255 255 255; /* white */
    --color-bg-secondary: 241 245 249; /* light gray */
    --color-bg-tertiary: 226 232 240; /* darker gray  */
    --color-bg-quaternary: 209 213 219; /* gray-300 */
    --color-img-outline: var(--color-bg-quaternary);
  }

  /* default dark theme: */
  .theme-dark {
    /* colors mostly used with text/border */
    --color-text-regular: 200 200 200; /*grayish white*/
    --color-text-white: 226 232 240; /*grayish white*/
    --color-text-muted: 127 136 143; /*gray (seems fine same as light)*/
    --color-text-inverted: 251 73 52; /*gruvbox light red(not sure if this or original light theme red)*/
    /*--color-text-inverted: 98 212 229; /*light blue*/
    /*--color-text-inverted: 50 205 50; /*light green*/
    --color-text-accent: var(--color-text-inverted);
    /* colors mostly used with bg to fill */
    --color-bg-primary: 40 40 40; /*gruvbox black*/
    --color-bg-secondary: 32 32 32; /*darker gruvbox black*/
    --color-bg-tertiary: 24 24 24; /* even darker black  */
    --color-bg-quaternary: 50 50 50; /* lighter gruvbox black */
    --color-img-outline: var(--color-bg-tertiary);

  }
}
/*########################## cactus comments #########################*/
#comments {
  --cactus-button-color: rgb(var(--color-text-accent));
  --cactus-button-text-color: rgb(var(--color-text-white));
  --cactus-button-color--strong: rgb(var(--color-text-muted));
  --cactus-background-color--strong: rgb(var(--color-bg-tertiary));
  /*--cactus-button-color--stronger: the color when you hover and click on login button or close button (short animation) */
  --cactus-box-shadow-color: none;
  --cactus-text-color--soft: rgb(var(--color-text-muted));
  --cactus-login-form-text-color: rgb(var(--color-text-regular));
  --cactus-border-color: rgb(var(--color-bg-secondary));/* also the color of the background from avatars */
}
#comments input, #comments textarea {
  /*--cactus-background-color: rgb(var(--color-bg-tertiary)) !important;*/
  background-color: rgb(var(--color-bg-tertiary));
  opacity: 0.85;
  /*--tw-bg-opacity: 0.5 !important;*/
  --tw-ring-color: rgb(var(--color-bg-quaternary));
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  outline: none;
  border: none;
}
#comments input:focus, #comments textarea:focus {
  --tw-ring-color: rgb(var(--color-text-inverted));
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}
/*######################## pagefind searchbar ########################*/
#search .pagefind-ui {
  --pagefind-ui-scale: 0.6;
  --pagefind-ui-primary: rgb(var(--color-text-inverted));
  --pagefind-ui-text: rgb(var(--color-text-regular));
  --pagefind-ui-background: rgb(var(--color-bg-tertiary));
  --pagefind-ui-border: rgb(var(--color-bg-quaternary));
  --pagefind-ui-tag: rgb(var(--color-bg-tertiary));
  --pagefind-ui-border-width: 1px;
  --pagefind-ui-border-radius: 4px;
  --pagefind-ui-image-border-radius: 0px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: inherit;
}
@media (min-width: 1536px) {
  #search .pagefind-ui {
  --pagefind-ui-scale: 0.75;
  }
}
#search .pagefind-ui__search-input:focus {
  --tw-ring-color: rgb(var(--color-text-inverted));
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}
#search .pagefind-ui__search-input {
  --tw-ring-color: rgb(var(--color-bg-quaternary));
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  outline: none;
  border: none;
  opacity: 0.85;
}
#search .pagefind-ui__search-input::placeholder {
  /*FIXME I'd like to change the placeholder font color, but it only
   * accepts color keywords like red, green etc. No rgb(), no hex ... */
  /*color: rgb(var(--color-text-muted)) !important;*/
  /*color: #7F888F !important;*/
}
#search mark {
  padding: 2px 4px;
  background-color: rgb(var(--color-text-inverted)/.65);
  color: rgb(var(--color-text-regular));
}
#search .pagefind-ui__result-tag {
  padding: 0;
  font-weight: 900;
  color: rgb(var(--color-text-muted));
  background-color: transparent;
}
/*######################### chroma codeblocks ########################*/
/* TODO add two seperate themes for light/dark, this theme looks okaish
 * with both for now */

/* hugo/chroma code block theme: `hugo gen chromastyles --style=onedark >> assets/css/base.css`  */
/* Background */ .bg { color: #abb2bf; background-color: #282c34; }
/* PreWrapper */ .chroma { color: #abb2bf; background-color: #282c34; }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err {  }
/* CodeLine */ .chroma .cl {  }
/* LineLink */ .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .chroma .hl { background-color: #3d4148 }
/* LineNumbersTable */ .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #55595f }
/* LineNumbers */ .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #55595f }
/* Line */ .chroma .line { display: flex; }
/* Keyword */ .chroma .k { color: #c678dd }
/* KeywordConstant */ .chroma .kc { color: #e5c07b }
/* KeywordDeclaration */ .chroma .kd { color: #c678dd }
/* KeywordNamespace */ .chroma .kn { color: #c678dd }
/* KeywordPseudo */ .chroma .kp { color: #c678dd }
/* KeywordReserved */ .chroma .kr { color: #c678dd }
/* KeywordType */ .chroma .kt { color: #e5c07b }
/* Name */ .chroma .n { color: #e06c75 }
/* NameAttribute */ .chroma .na { color: #e06c75 }
/* NameBuiltin */ .chroma .nb { color: #e5c07b }
/* NameBuiltinPseudo */ .chroma .bp { color: #e06c75 }
/* NameClass */ .chroma .nc { color: #e5c07b }
/* NameConstant */ .chroma .no { color: #e06c75 }
/* NameDecorator */ .chroma .nd { color: #61afef }
/* NameEntity */ .chroma .ni { color: #e06c75 }
/* NameException */ .chroma .ne { color: #e06c75 }
/* NameFunction */ .chroma .nf { color: #61afef; font-weight: bold }
/* NameFunctionMagic */ .chroma .fm { color: #56b6c2; font-weight: bold }
/* NameLabel */ .chroma .nl { color: #e06c75 }
/* NameNamespace */ .chroma .nn { color: #e06c75 }
/* NameOther */ .chroma .nx { color: #e06c75 }
/* NameProperty */ .chroma .py { color: #e06c75 }
/* NameTag */ .chroma .nt { color: #e06c75 }
/* NameVariable */ .chroma .nv { color: #e06c75 }
/* NameVariableClass */ .chroma .vc { color: #e06c75 }
/* NameVariableGlobal */ .chroma .vg { color: #e06c75 }
/* NameVariableInstance */ .chroma .vi { color: #e06c75 }
/* NameVariableMagic */ .chroma .vm { color: #e06c75 }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s { color: #98c379 }
/* LiteralStringAffix */ .chroma .sa { color: #98c379 }
/* LiteralStringBacktick */ .chroma .sb { color: #98c379 }
/* LiteralStringChar */ .chroma .sc { color: #98c379 }
/* LiteralStringDelimiter */ .chroma .dl { color: #98c379 }
/* LiteralStringDoc */ .chroma .sd { color: #98c379 }
/* LiteralStringDouble */ .chroma .s2 { color: #98c379 }
/* LiteralStringEscape */ .chroma .se { color: #98c379 }
/* LiteralStringHeredoc */ .chroma .sh { color: #98c379 }
/* LiteralStringInterpol */ .chroma .si { color: #98c379 }
/* LiteralStringOther */ .chroma .sx { color: #98c379 }
/* LiteralStringRegex */ .chroma .sr { color: #98c379 }
/* LiteralStringSingle */ .chroma .s1 { color: #98c379 }
/* LiteralStringSymbol */ .chroma .ss { color: #98c379 }
/* LiteralNumber */ .chroma .m { color: #d19a66 }
/* LiteralNumberBin */ .chroma .mb { color: #d19a66 }
/* LiteralNumberFloat */ .chroma .mf { color: #d19a66 }
/* LiteralNumberHex */ .chroma .mh { color: #d19a66 }
/* LiteralNumberInteger */ .chroma .mi { color: #d19a66 }
/* LiteralNumberIntegerLong */ .chroma .il { color: #d19a66 }
/* LiteralNumberOct */ .chroma .mo { color: #d19a66 }
/* Operator */ .chroma .o { color: #56b6c2 }
/* OperatorWord */ .chroma .ow { color: #56b6c2 }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: #7f848e }
/* CommentHashbang */ .chroma .ch { color: #7f848e }
/* CommentMultiline */ .chroma .cm { color: #7f848e }
/* CommentSingle */ .chroma .c1 { color: #7f848e }
/* CommentSpecial */ .chroma .cs { color: #7f848e }
/* CommentPreproc */ .chroma .cp { color: #7f848e }
/* CommentPreprocFile */ .chroma .cpf { color: #7f848e }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color: #e06c75 }
/* GenericEmph */ .chroma .ge {  }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh {  }
/* GenericInserted */ .chroma .gi { color: #98c379; font-weight: bold }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs {  }
/* GenericSubheading */ .chroma .gu {  }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
