<!-- to make the whole area outside of pop up nav bar toggable by the btn,
  all sibling elements to button have z-10, also the button needs to
  span over the whole page hence inset-0 on it, to still place it at the
  right place use a div wrapper -->
  <!-- M6 18L18 6M6 6l12 12 -->
<button id='btnSidebarMobile' class="absolute md:bg-transparent bg-tertiary bg-opacity-80 md:py-0 py-2 md:px-0 px-4 rounded md:-right-[2.6rem] md:top-[1.5rem] -right-[4.1rem] top-[0.95rem]">
  <svg id="svgSidebarMobile" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
   class="md:w-7 md:h-7 w-6 h-6 md:stroke-accent stroke-muted stroke-2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
  </svg>
</button>

<!--<div class="absolute inset-y-0 left-0 w-[17rem] z-10 bg-secondary">-->
<!-- opacity-0 transition-all duration-1000 ease-in-out -->
<!-- md:relative md:inset-auto md:z-auto fixed inset-0 z-10 -->
<div class="mx-[2.375rem] mt-7 mb-28">
<input type="text" placeholder="&#xf002; Search Blog"
class="w-full 2xl:h-11 xl:h-9 2xl:pl-5 xl:pl-4 rounded text-xl bg-tertiary
active:accent focus:outline-none focus:ring-2 focus:ring-accent ring-1 ring-ringgray">
</div>

<span class="ml-[2.375rem] block w-16 text-xl border-b-[3px] pb-3
  border-accent">Menu</span>

<nav class="mx-[2.375rem] mt-16 text-lg uppercase font-thin">
  <ul class="flex flex-col">
    <li><a href="#" class="block transition duration-200 hover:bg-tertiary rounded border-b-2 border-ringgray py-4" aria-current="true">Home</a></li>
    <li><a href="#" class="block transition duration-200 hover:bg-tertiary rounded border-b-2 border-ringgray py-4">Archive</a></li>
    <li><a href="#" class="block transition duration-200 hover:bg-tertiary rounded border-b-2 border-ringgray py-4">About</a></li>
  </ul>
</nav>
<span class="ml-[2.375rem] my-16 w-[7.5rem] block text-xl border-b-[3px]
  pb-3 border-accent">Get in touch</span>
<!--</div>-->
