<aside id="toggleMenu" class="toggleMenu xl:block hidden row-span-4 2xl:w-[25rem] w-[19rem] text-center bg-secondary">
  <nav class="">
    <h2>Menu</h2>
    <ul>
      <li><a href="#">Homepage</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
  </nav>
</aside>

<div id="toggleHamburger" class="toggleHamburger row-span-4 2xl:my-12 md:visible invisible my-7 mx-auto 2xl:space-y-1.5 space-y-1">
  <span class="block 2xl:w-7 w-5 2xl:h-1 h-[0.1875rem] bg-accent"></span>
  <span class="block 2xl:w-7 w-5 2xl:h-1 h-[0.1875rem] bg-accent"></span>
  <span class="block 2xl:w-7 w-5 2xl:h-1 h-[0.1875rem] bg-accent"></span>
</div>
